#mainLinks{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #972e0e;
    padding: 20px;
    width: 70%;
    height: 25px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

.active {
    color: #ffe600;
    background-color: #972e0e;
}

nav{
    
    display: flex;
    justify-content: space-between;
    
}

#languageLinks{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #972e0e;
    padding: 20px;
    width: 20%;
    height: 25px;
}

.AllItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.oneItem{
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center
}